# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake and make stuff 
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
rules.ninja
build.ninja


# externals src 
visagesPlugin
vistal
qtShanoir
animaMath
animaRegistration
animaFiltering
