# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# System stuff
*DS_Store

# CMake and make stuff 
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
rules.ninja
build.ninja


# externals src 
visagesPlugins
vistal
nlopt
QtShanoir
ANIMA
